# Arduino build files
*.hex
*.elf
*.bin

# Mac/Windows junk
.DS_Store
Thumbs.db

# VS Code specific
.vscode/

# PlatformIO (if ever used)
.pio/

# Arduino backup
*.bak
*.tmp

more_proposal.pdf
more_proposal.synctex.gz
more_proposal.tex